/* https://codepen.io/willthemoor/pen/dooRag */
/*			Posso farne a meno credo, non so esattamente a che mi serve
form, ul, li, input, label {
	box-sizing: border-box;
	display: block;
}	*/

.ul_infield {
/*	border: 2px solid #199bfc; */
	list-style-type: none;
	margin: 1em auto;
	padding: 0;
	/*width: 350px;	/* Per modificare lunghezza input */
	width: 100%; 	/*Style perchè voglio i campi più lunghi sia esktop che mobile */
}

.li_infield {
	border: 2px solid #199bfc;
	margin-top: 20px; /* border collapser */
	position: relative;
}


.label_infield {
	/* labels are after the input in the HTML... */

	font-family: fira-sans;
	font-size: 70%;
	letter-spacing: 0.03em;
	text-transform: none; /* Prima era uppercase */

	/* ... move it up top ...	*/
	position: absolute;
	top: 10px;
	left: 10px;


	filter: brightness(85%);	/* Rendere più scuro un colore */

}


.input_infield {
	border: 2px;
	/*font-size: 18px;*/
	margin: 9px 0 7px 0;
	margin: 0;
	padding: 2em 10px 10px 10px;
	outline: none;
	width: 100%;

}

.input_infield::placeholder{
	color: transparent;
}
.input_infield:focus+.label_infield {
	color: #199bfc;
}



.error::placeholder {
    color: red;
}
