/*  * {         /* Con * assegno a tutti gli elementi della pagina.
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Mobile Styles
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red
  }
} */

/* Tablet Styles */
@media only screen  and (max-width: 960px) {  /*and (min-width: 401px)*/
  .image1{
     display: block;
   }

   .image2{
     display: none;
   }

   .wrap_responsive { /* Usata in view annunci per rendere l'immagine responsive e farla adattare */
     position: relative;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-direction: column;
     flex-direction: column;
   }

   .image_view_annunci {
       margin: 0px 5px 15px 5px; /* top - right - bottom - left */
       width: 100%;
   }
}

 /*Desktop Styles*/
@media only screen and (min-width: 961px) {
  .image1{
    display: none;
  }

  .image2{
    display: block;
  }
}

body{
  margin:0; /*leva i margini*/
  padding: 0;
/*  background: white;*/
  text-align: center;
}


button {
  background-color: #199bfc !important; /* Uso !important per ignorare le regole definite nella classe bootstrap ed avere priorità */
  /*border-color: #007bff !important;*/
  color: white;
  padding: 14px 50px;
  border: none !important;
  border-radius: 0px !important;
  text-transform: none !important;
  cursor: pointer;  /* mostra la manina quando ci passi sopra */

}

button:hover{
  color: #1a212e !important; /* Le scritte dei pulsanti diventano neri */
  transition: 0.2s ease-in /*easy in: specifies a transition effect with a slow start*/
}

.spaziatura_button {  /* Usata in profilo_form per rendere distanziati i pulsanti anche su diversi devices */
  padding-top: 20px;
}

a {
/*color: #408eed;   /* per colorare di azzurro i link */
text-decoration: none;  /* per togliere la sottolineatura dai link */
}

a:hover {
   color:#ff00ff;
   text-decoration:underline;
}

.button_link:hover{
  text-decoration:none;
}

.center {   /* Per centrare il logo unige job*/
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 0px;
  text-align: center;
}

input { /* per mettere il bordo azzurro alle caselle di testo */
  font-family: fira-sans, sans-serif; /* Fire sans regular */
  font-style: normal;
  font-weight: 400;

 border:2px solid #199bfc;
 padding: 5px;
/*  font-size: 1.2em;*/
  width: 90%;
}

input:focus {
  background-color: #EEEEEE;
}


.change_photo {  /* Modifica input dei files per 'cambia foto' */
  border: none;
  display:none;
}

textarea:focus, select:focus{
    background-color: #EEEEEE;
}

.cant_be_modify {
  background-color: #EEEEEE;
}

.label_cambiafoto {
    font-size: 20px;
    color: #6C757D;
    cursor: pointer;
}
.label_cambiafoto:hover {  /* Per la label "cambia foto" */
  text-decoration: underline;

}



input::placeholder {
  font-family: fira-sans, sans-serif;   /* Fire sans italic */
  font-style: italic;
  font-weight: 100;
}
/* Per cambiare il placeholder dell'input date */



.description {
  background-color:#199bfc;
  }
.description_text {
  background-color:#199bfc;
  float:left;
  display:block;
  width: 329px;
  height:95px;
  float :left;
  position: relative;
  }

.image_annunci{
height: 160px;
object-fit: cover;
}

.image_view_annunci {
    float: left;
    margin: 0px 15px 5px 0px; /* top - right - bottom - left */
    height: 300px;
    object-fit: cover;
}

.img_profilo {
  width: 160px;
  height: 160px;

  border-radius:999em;
-moz-border-radius:999em;
-webkit-border-radius:999em;
  -o-border-radius: 999em;
}

.img_author {
  width: 100px;
  height: 100px;

  border-radius:999em;
-moz-border-radius:999em;
-webkit-border-radius:999em;
  -o-border-radius: 999em;
}

ul, li  { /* Tolgo il pallino dalla lista e la sua indentazione */
  list-style-type: none;
  list-style-position: inside;
  padding-left:0;
  margin-left: 0px;
}

.live-search-box {  /* Usata in search.php per real time*/
width: 101.4%; /* Per rendere l'annuncio lungo quanto la barra di ricerca */
list-style-type: none;
padding: 1em;
/*margin: 15px -20px 0px 0px; /* top - right - bottom - left */
/*border: 1px solid #3498db;/*
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; */
}


.button_newsletter {
	border: 2px;
	/*font-size: 18px;*/
	margin: 9px 0 7px 0;
	margin: 0;
	padding: 2em 10px 10px 10px;
	outline: none;
	width: 100%;

}

.icon_wrp { /* Per il cuore preferiti negli annunci */
  position: relative;
  width: 101.5%;
}
.favourite_icon{ /* Per il cuore preferiti negli annunci */
position: absolute;
bottom: 0;
right: 0;
font-size: 23px;
color: #6C757D; /* grigio */
}


.word_wrap {
  word-wrap: break-word;
}

.errorLog {
  color: red;
}
.success_msg {
  color: green;
}
