


.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 30px;
  height: 30px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: -5 8px;
/*  padding-left:0px; */
}

.social-buttons a::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg,grey,black);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

.social-buttons a:hover i{
  background: linear-gradient(45deg,grey,black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2);
}
